ul {
  margin: 0;
  padding: 0;
}

.nothingFound {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 10px;
}

@media (min-width: 800px) {
  .list {
    max-height: 50vh;
    overflow-y: auto;
  }
}
