.title {
  text-align: center;
}

.buttons {
  margin-top: 20px;
}

.informationArea {
  padding: 20px;
}

.label {
  font-size: 1.7rem;
}

.value {
  font-size: 1.3rem;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-left: 20px;
  height: 140px;
}

.separator {
  height: 1px;
  background-color: rgb(177, 177, 177);
  margin: 5px 10px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.buttons button {
  width: 100px;
}
