.stagesList {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #0c548f;
}

.inactive {
  background-color: #8bb2ec;
}
