.inextensoContainer,
.recipeContainer {
  width: 100%;
}

.info {
  background-color: #0c548f;
  border-radius: 10px;
  padding: 3px 10px;
  color: white;
  font-weight: 500;
  margin: 0;
}

.info:nth-of-type(even) {
  margin-top: 5px;
}

.descriptionContainer {
  margin-top: 20px;
}

.descriptionContainer p {
  margin: 0;
  font-weight: 500;
}

.description {
  background-color: white;
  border: 1px solid rgb(196, 196, 196);
  width: 100%;
  border-radius: 10px;
  text-align: start;
  padding: 5px 10px;
}
