.title {
  text-align: center;
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-bottom: 10px;
}

.form {
  padding: 20px;
  padding-top: 0;
}

.input {
  margin-top: 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 5px;
}

.selectInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.selectInput label {
  padding-left: 10px;
}

.errorMessage {
  color: red;
  margin: 0;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.buttons div:nth-of-type(odd) {
  margin-right: 20px;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.buttons div:nth-of-type(even) {
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  width: 50%;
}

.buttons button {
  width: 100px;
  font-weight: 700;
}
