.ingredient {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.nameColumn {
  width: 50%;
}

.buttonsColumn {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.ingredient h3 {
  margin: 0 0 0.25rem 0;
}

.ingredientName {
  width: 100%;
  word-wrap: break-word;
  text-align: left;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
}

.btnSpacing {
  margin-right: 20px;
}

.allergeneMessage {
  font-size: 1.3rem;
  font-weight: 700;
  color: red;
  margin-left: auto;
  margin-right: 1.5rem;
}

.allergeneMessage p {
  display: inline;
}

.allergeneMessageSmall {
  display: none;
}

@media (max-width: 600px) {
  .btnSpacing {
    margin-right: 5px;
  }
  .allergeneMessage {
    display: none;
  }
  .allergeneMessageSmall {
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: red;
  }
  .ingredient {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }
}

@media (max-width: 400px) {
  .ingredientName {
    font-size: 1.3rem;
  }
}
