.title {
  text-align: center;
  border-bottom: 1px solid rgb(179, 179, 179);
  padding-bottom: 10px;
}

.input {
  border-radius: 10px;
  border: 1px solid rgb(173, 173, 173);
  height: 50px;
  margin-top: 5px;
  font-size: 1.5rem;
}

.information {
  display: infline;
  width: 70%;
  margin: auto;
  margin-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  text-align: center;
  font-size: 1.5rem;
}

.errorMessage {
  color: red;
}

.loading {
  font-size: 1.5rem;
}

.connectionError {
  color: red;
  font-size: 1.3rem;
  text-align: center;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.buttons div:nth-of-type(odd) {
  margin-right: 20px;
  width: 50%;
  display: flex;
  justify-content: end;
}

.buttons div:nth-of-type(even) {
  margin-left: 20px;
  display: flex;
  justify-content: start;
  width: 50%;
}

.buttons button {
  width: 150px;
  height: 50px;
  font-size: 1.5rem;
}
