.addBtn {
  display: flex;
  justify-content: flex-start;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0;
  color: #0c548f;
}

@media (max-width: 992px) {
  .addBtn {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 2.5rem;
    margin: 10px 0;
  }
}
