.title {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0;
  color: white;
}

.container {
  padding: 0;
  overflow-x: hidden;
}

.top {
  background-color: #0c548f;
  padding-left: 10px;
  padding-right: 10px;
}

.bottom {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #f9f9f9;
  padding: 30px 10px 0 10px;
  min-height: 70vh;
}

@media (max-width: 992px) {
  .title {
    font-size: 2.5rem;
    margin: 10px 0;
  }
}
